/* main color */
#757575, 
/* second color */
#212121 
/* accent color */
#2196F3, #000000
/* white color */
#FFFFFF



.body {
  background: #e5e5e5;
  color: #757575;
  font-family: Roboto;
  font-style: normal;
}
/* Логотип */
.logo {
  color: #000000;
  font-family: Raleway;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 31px;
}
.logo-span {
  color: #2196f3;
}
/* Навигация сайта */
.site-nav {
  color: #212121;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
}
.site-nav a:hover,
.site-nav a:focus {
  color: #2196f3;
}
.mail-tel > a {
  color: #757575;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
}
.mail-tel > a:focus,
.mail-tel > a:hover {
  color: #2196f3;
}
/* Стиль ГЕРОЯ */

.hero {
  background: #2f303a;
}
.hero-title {
  color: #ffffff;
  font-family: Roboto;
  font-style: normal;
  font-weight: 900;
  font-size: 44px;
  line-height: 60px;
}

/* Стили секций */
.section p {
  color: #757575;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
}
.section-title {
  color: #212121;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 42px;
}
.section-subtitle {
  color: #212121;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
}

/* Наша команда */
.list-title {
  color: #212121;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
}
.list p {
  color: #757575;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
}
